{% extends 'layout.html' %}

{% block body %}
	<h1 class="text-center">Register</h1>
	<div class="row justify-content-center">
		<div class="col-5">
			<div class="form-group">
				<form method="POST" action="add">
					<label>Full Name:</label>
					<input class="form-control" type="text" name="name" placeholder="Full Name">
					<label>Age:</label>
					<input class="form-control" type="text" name="age" placeholder="Age">
					<label>Gender:</label>
					<input class="form-control" type="text" name="gender" placeholder="Gender">
					<label>User Name:</label>
					<input class="form-control" type="text" name="userName" placeholder="User Name">
					<label>Password:</label>
					<input class="form-control" type="text" name="pw" placeholder="Password">
					<br>
					<div class="row justify-content-center">
						<input class="btn btn-primary" type="submit" name="" value="Log In">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}